.replyModal{
  display: flex;
  align-items: center;

  .replyOption{
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;

    .replyOptionText{
      font-size: 14px;
      font-weight: 600;
    }

    .replyOptionText.dark{
      color: rgb(156, 156,156);
    }
  }
}
