/* TODO Add site wide styles */

*{
  margin: 0;
}

:root{
  --theme: #1877f2;
}

/* button{
  color: white;
  font-weight: 500;
  padding: 5px 10px;
  background-color: var(--theme);
  cursor: pointer;
  border: none;
  border-radius: 500px;
  transition: 0.5s;
}

button:hover{
  box-shadow: 0 0 7.5px rgba(0, 0, 0, 0.2);
  transform: scale(0.95);
  text-transform: uppercase;
} */

body{
  margin: 0;
  padding: 0;
  display: block;
}

ul{
  color: red;
  font-weight: bolder;
}
