/* .profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
} */

/* .header{
  background-color: var(--theme);
  width: 100%;
}
.logo{
  color: white;
  margin-left: 10px;
} */

.link{
  text-decoration: none;
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
  background-color: var(--theme);
  border-bottom: 1px solid gray;
}

.header_center{
  display: flex;
  align-items: center;
}

.header_icons_home{
  display: flex;
  align-items: center;
  font-size: 25px;
  cursor: pointer;
  color: gray;
}


.header_icons_home:hover{
border-bottom: 5px solid blue;
}

.header_right{
  display: flex;
  align-items: center;
}
