.shareIcon{
  font-size: 30px;
  margin-right:10px;
}

.shareOptionText{
  font-size: 14px;
  font-weight: 600;
}

.shareOption{
  display: flex;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}
