.prev_img{
  width: 50%;
}

.upload-img-btn{
  color: green;
  background-color:  #1c1e21;
  border: none;
  outline-width: 0;
  cursor: pointer;
}

.upload-img-btn:hover{
  color: white;
}

.upload-photo-container{
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding-bottom: 5px;
}



/* [data-title]:hover::after{
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #1c1e21;
  border: none;
  outline-width: 0;
  color: green;
  font-size: 15px;
  position: absolute;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  z-index: 99999;

} */


[data-title] {
  /* position: relative; */
}
