.editDelete__delete{
  &__item{
    display: flex;
    align-items: center;
    font-size: 16px;

    // &:hover{
    //   // background-color: var(--theme);
    //   color: white;
    // }
  }

  &__icon{
    color: #bb0000f2;
  }

  &__text{
    color: black;
    font-weight: 600;
    margin-left: 4px;
  }
}
.MuiMenu-root ul > li{
  background-color: white;

  &:hover{
    background-color: var(--theme);
  }
}
