.postEditFileUploadDiv{
  height: auto;
  width:450px;
  align-items: center;
  margin-left: 20px;
  background-color: transparent;
  border-radius: 5px;
  object-fit: contain;
  position: relative;
  // box-shadow: 2px 4px 10px 1px rgba(108, 108, 108, 0.47);

  .postEditImageContainer{
    display: flex;
    border:  1px solid rgba(0, 0, 0, 0.203);
    height: 400px;
    color: white;
    width: 430px;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;

    .postEditPreviewImage{
      width: 425px;
      height: 100%;
      position: absolute;
      padding: 5px;
    }

    .postEditImageSubmit{
      z-index: 4;
      position: absolute;
      top: 5px;
      left: 15px;
      background-color: transparent;
      border: none;
      font-size: 40px;
      background-color: transparent;

      .postEditUploadIcon{
        font-size: 40px;
        color: var(--theme);
        cursor: pointer;

        &:hover{
          color: green;
        }
      }
    }
  }

  .postEditImageDiv{
    display: flex;
    border:  1px solid rgba(0, 0, 0, 0.203);
    height: 400px;
    color: white;
    width: 430px;
    margin-left: 10px;
    background-color: transparent;
    border-radius: 5px;
    cursor:pointer;

    .postEditImageCenter{
      margin-left: 150px;
      position: relative;

      .postEditBlankContainer{
        height: 100%;
        width: 425px;
        background-color: rgba(58, 58, 58, 0.733);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -50%);
        z-index: 5;
        opacity: 0;
        border-radius: 4px;

        &:hover{
          opacity: 1;
        }

        .postEditAddIcon{
          margin-top: 150px;
          object-fit: contain;
        }
      }

      .postEditEditImg{
        width: 425px;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-35%, -50%);
        border-radius: 20px;
        padding: 10px;
      }

      .postEditImageDeleteIcon{
        z-index: 25;
        position: absolute;
        top: 0;
        left: 0;
        color: var(--theme);
        &:hover{
          color: white;
        }
      }

      .postEditBlankNoImageContainer{
        height: 95%;
        background-color: white;
        width: 420px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-34.5%, -50%);
        border-radius: 4px;

        &:hover{
          background-color: rgb(230, 230, 230);
          .postEditNoImage{
            color:rgb(191, 191, 191)
          }
        }

        .postEditNoImage{
          margin-top: 160px;
          color: var(--theme);
        }
      }
    }
  }
}
